Django
Pillow
celery[redis]
chardet
coreapi
common-framework
dj-database-url
django-configurations
django-cors-headers
django-debug-toolbar
django-redis
djangorestframework
djangorestframework-xml
djangorestframework-simplejwt
drf-spectacular
drf-spectacular-sidecar
flake8
ipython
markdown2
mypy
psycopg[c]
pytest
pytest-cov
pytest-django
pytest-env
python-dateutil
redis
requests
tqdm
setuptools
wheel
